/* Общий контейнер письма */
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monsieur+La+Doulaise&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.letter-section {
    width: 100%;
    max-width: 900px;
    margin: 60px auto;

    text-align: center;
  }
  
  .letter-title {
    font-size: 28px;
    color: white;
    line-height: 1.4;
  }
  
  .letter-line {
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
    border: 1px solid white;
  }
  
  .letter {
    margin-top: 20px;
    font-size: 18px;
    color: white;
    line-height: 1.8;
    text-align: left;
    font-family: "Borel", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  /* 📱 АДАПТАЦИЯ ДЛЯ ТЕЛЕФОНА */
  @media (max-width: 768px) {
  
    .letter-section {
      margin: 30px auto;

    }
  
    .letter-title {
      font-size: 20px;
    }
  
    .letter {
      font-size: 16px;
      line-height: 1.6;
    }
  
    .letter-line {
      width: 100%;
    }
  
  }
  