@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monsieur+La+Doulaise&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
button{
    color: white;
    font-family: "Monseratt", cursive;
    background-color: black;
}
.buttons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .buttons-inner {
    display: flex;
    justify-content: space-between;
    width: 50%;
    gap: 20px;
  }
  
  .no-btn,
  .yes-btn {
    width: 200px;
    height: 100px;
    font-size: 2rem;
    border-radius: 20px;
    border: 1px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
  }
  @media (max-width: 500px) {
    .buttons-inner {
      width: 100%;
      align-items: center;
    }
  
    .no-btn,
    .yes-btn {
      height: 70px;
      font-size: 1.3rem;
    }
  }
    