  
  .swiper {
    width: 100%;
    height: 700px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
  
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:10px ;
  }
@media(max-width:500px) {
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius:10px ;
  }
  .swiper {
    width: 100%;
    height: 600px;
  }
} 